<template>

</template>

<script>

    /*
    |---------------------------------------------------------------------------
    | Smart component
    |---------------------------------------------------------------------------
    */

    export default {

        name: 'hello_world_view',

        /*
        |---------------------------------------------------------------------------
        | Composition
        |---------------------------------------------------------------------------
        */

        // mixins: [],

        // extends: {},

        /*
        |---------------------------------------------------------------------------
        | Assets
        |---------------------------------------------------------------------------
        */

        // directives: {},

        // filters: {},

        // components: {},

        /*
        |---------------------------------------------------------------------------
        | Lifecycle Hooks
        |---------------------------------------------------------------------------
        */

        // created() {},

        // mounted() {},

        /*
        |---------------------------------------------------------------------------
        | Data
        |---------------------------------------------------------------------------
        */

        // props: {},

        // data() { return {}; }

        // computed: {},

        // watch: {},

        // methods: {},
    }

</script>

<style lang="scss">

</style>
